eureka:
  client:
    service-url:

spring:      defaultZone: http://localhost:8761/eureka
       server:
         port: 9004
  application:
    name: service-zuul
zuul:
  routes:
    api-a:
      path: /api-r/**
      serviceId: service-ribbon-hystrix
    api-b:
      path: /api-f/**
      serviceId: service-feign-hystrix